@import '../../style/variables';

.modal {
   position: absolute;
   bottom: 5px;
   left: 5px;
   padding: 10px;
   background: $white;
   color: $black;
   border-radius: 10px;
}

.modal-enter-active {
   opacity: 1;
   transition: opacity 200ms;
}

.modal-exit-active {
   opacity: 0;
   transition: opacity 200ms;
}


// .test{
//    font-size: 20px;
//    padding: 10px 150px;
//    border: 1px solid;
//    display: inline-block;
//    margin: 0 20px;
//    background: #000;  
//    opacity: 0
// }

// .test-show{
//    opacity: 1;
//    transition: opacity 1000ms;
// }

// .test-hide{
//    opacity: 0;
//    transition: opacity 1000ms;
// }