.fallout {
  position: relative;

  &__title {
    position: absolute;
    top: 70px;
    left: 31px;
    text-align: center;
  }

  &__progress {
    margin-top: 20px;
    border: 1px solid;
    border-radius: 50%;

    &-circl {
      transform-origin: center;
      transform: rotate(-90deg);
    }
  }
  @media screen and (max-width: 750px) {
    display: none;
  }
}
